<div class="header-container">
    <div>
        <fa-icon class="header-search-icon" [icon]="faSearch"></fa-icon>
    </div>
    <div class="header-logo-container">
        <a routerLink="/">
            <img class="header-logo" src="assets/logo.png"/>
        </a>
    </div>
    <div class="header-sign-in-container">
        <h3><a class="header-sign-in-links" routerLink="login">Sign In</a></h3>
        <div class="header-sign-in-divider">|</div>
        <h3><a class="header-sign-in-links" routerLink="register">Register</a></h3>
        <div class="header-profile-image-container">
            <img class="header-profile-image" src="assets/blank-profile-picture-png.png"/>
        </div>
    </div>
</div>
