<div class="header-container">
    <div class="header-search-container">
        <div class="header-sub-search-container">
            <div class="header-search-input-container">
                <fa-icon class="header-search-icon" [icon]="faSearch"></fa-icon>
                <div>
                    <input [(ngModel)]="search" (ngModelChange)="searchRoutes($event)" class="search-field" type="text" placeholder="Search..."/>
                </div>
            </div>

            <div *ngIf="search.length" class="search-items-container">
                <div *ngFor="let route of searchResults" class="search-item"> <a class="search-item-link" (click)="clearSearch()" routerLink="{{route.pathName}}">{{titleCasePipe.transform(route.displayName)}}</a></div>
            </div>
            <div class="header-logo-container-media">
                <a routerLink="/">
                    <img class="header-logo-media" src="assets/logo2.png"/>
                </a>
            </div>
        </div>
    </div>

    <div class="header-logo-container">
        <a routerLink="/">
            <img class="header-logo" src="assets/logo2.png"/>
        </a>
    </div>
    <div class="header-sign-in-container">
        <h3><a class="header-sign-in-links" routerLink="login">Sign In</a></h3>
        <div class="header-sign-in-divider">|</div>
        <h3><a class="header-sign-in-links" routerLink="register">Register</a></h3>
        <div class="header-profile-image-container">
            <img class="header-profile-image" src="assets/blank-profile-picture-png.png"/>
        </div>
    </div>
</div>
<app-main-navigation></app-main-navigation>
