
<div class="home-container">

        <app-main-image
        [image]="'main_page.jpg'"
        [normalTextFirstPart]="'Discover the'"
        [normalTextSecondPart]="'imaginable'"
        [abnormalText]="'Un'"
        [rightTextDistance]="'50px'"
        [bottomTextDistance]="'85px'">
        </app-main-image>

    <div class="home-articles-container">
        <app-article-display-box
                [title]="'Title Here'"
                [subtitle]="'Subtitle Here'"
                [imageRef]="'assets/dice.jpg'"
                [description]="'Title description'"></app-article-display-box>
        <app-article-display-box
                [title]="'Title 2 Here'"
                [subtitle]="'Subtitle 2 Here'"
                [imageRef]="'assets/dice.jpg'"
                [description]="'Here is a description 2...'"></app-article-display-box>
        <app-article-display-box
                [title]="'Title 3 Here'"
                [subtitle]="'Subtitle 3 Here'"
                [imageRef]="'assets/dice.jpg'"
                [description]="'Here is a description 3...'"></app-article-display-box>
    </div>
</div>


