<div class="article-container" [style.marginBottom]="itemBelow ? '20px' : ''">
    <a style="text-align: center; text-decoration: none; color: black" routerLink="{{link}}">
        <h2 style="margin-top: -10px">{{title}}</h2>
        <h4 style="margin-top: 5px">{{subtitle}}</h4>
        <div style="margin-top: 5px">
            <img style="width: 200px; height: 200px; border-radius: 40px" src="{{imageRef}}"/>
        </div>
        <p style="margin-top: 5px">{{description}}</p>
    </a>

</div>
