<div class="main-navigation-container">
    <div class="main-navigation-links-container">
        <h4 *ngFor="let key of mainRoutes.keys()">
            <a routerLink="{{mainRoutes.get(key).pathName}}" (click)="clearRoutes(key)" [class.route-decoration]="!mainRoutes.get(key).selected" [class.route-decoration-selected]="mainRoutes.get(key).selected">
                {{titleCasePipe.transform(mainRoutes.get(key).displayName)}}
            </a>

            <fa-icon (click)="getMainKey(mainRoutes.get(key).id)" class="main-navigation-down-arrow-icon" [icon]="faAngleDown"></fa-icon>
        </h4>
    </div>
</div>
<div class="routes-container">
    <div class="sub-routes-container">
        <div *ngIf="mainChildren.length">
            <div *ngFor="let child of mainChildren">
                <div *ngIf="child.id !== null" class="route-item">
                    <a routerLink="{{child.pathName}}" (click)="clearRoutes()" [class.route-decoration]="!child.selected" [class.route-decoration-selected]="child.selected">
                        {{titleCasePipe.transform(child.displayName)}}
                    </a>
                    <fa-icon (click)="getFirstChildKey(child.id)" class="main-navigation-down-arrow-icon" [icon]="faAngleDown"></fa-icon>
                </div>

                <div *ngIf="child.id === null" class="route-item">
                    <a routerLink="{{child.pathName}}" (click)="clearRoutes()" [class.route-decoration]="!child.selected" [class.route-decoration-selected]="child.selected">
                        {{titleCasePipe.transform(child.displayName)}}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="firstChildren.length">
        <fa-icon class="sub-route-transition-arrow" [icon]="faAngleRight"></fa-icon>
    </div>

    <div class="sub-routes-container">
        <div *ngIf="firstChildren.length">
            <div *ngFor="let child of firstChildren">
                <div *ngIf="child.id !== null" class="route-item">
                    <a routerLink="{{child.pathName}}" (click)="clearRoutes()" [class.route-decoration]="!child.selected" [class.route-decoration-selected]="child.selected">
                        {{titleCasePipe.transform(child.displayName)}}
                    </a>
                    <fa-icon (click)="getSecondChildKey(child.id)" class="main-navigation-down-arrow-icon" [icon]="faAngleDown"></fa-icon>
                </div>

                <div *ngIf="child.id === null" class="route-item">
                    <a routerLink="{{child.pathName}}" (click)="clearRoutes()" [class.route-decoration]="!child.selected" [class.route-decoration-selected]="child.selected">
                        {{titleCasePipe.transform(child.displayName)}}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="secondChildren.length">
        <fa-icon class="sub-route-transition-arrow" [icon]="faAngleRight"></fa-icon>
    </div>

    <div class="sub-routes-container">
        <div *ngIf="secondChildren.length">
            <div *ngFor="let child of secondChildren">
                <div *ngIf="child.id !== null" class="route-item">
                    <a routerLink="{{child.pathName}}" [class.route-decoration]="!child.selected" [class.route-decoration-selected]="child.selected">
                        {{titleCasePipe.transform(child.displayName)}}
                    </a>
                    <fa-icon (click)="getSecondChildKey(child.id)" class="main-navigation-down-arrow-icon" [icon]="faAngleDown"></fa-icon>
                </div>

                <div *ngIf="child.id === null" class="route-item">
                    <a routerLink="{{child.pathName}}" [class.route-decoration]="!child.selected" [class.route-decoration-selected]="child.selected">
                        {{titleCasePipe.transform(child.displayName)}}
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
