<div class="footer-container">
    <div class="footer-left-container">
        <div class="footer-left-icon-container">
            <div class="footer-left-main-logo-container">
                <img src="assets/logo.png" class="footer-left-main-logo"/>
            </div>
            <div class="footer-left-social-media-icons-container">
                <img src="assets/instagram.png" class="footer-left-social-media-icon"/>
                <img src="assets/facebook2-jpeg-removebg-preview.png" class="footer-left-social-media-icon"/>
                <img src="assets/images_updated.png" class="footer-left-social-media-icon"/>
            </div>
        </div>
        <hr class="footer-line-break"/>
        <div class="left-footer-information-container">
            <div class="left-footer-left-inner-information-container">
                <p class="left-footer-information-item">Home</p>
                <p class="left-footer-information-item">Locations</p>
                <p class="left-footer-information-item">About Us</p>
            </div>
            <div style="display: flex; flex-direction: column; width: 50%">
                <p class="left-footer-information-item">Our Process</p>
                <p class="left-footer-information-item">News / Blog</p>
                <button class="left-footer-information-button">Inquire <fa-icon [icon]="faAngleRight"></fa-icon></button>
            </div>
        </div>
        <hr class="footer-line-break"/>
    </div>
    <div class="footer-right-container">
        <div class="footer-right-inner-container">
            <h2 class="footer-right-title">Inquire</h2>
            <div class="footer-right-input-container">
                <div class="footer-right-first-last-input-container">
                    <input class="footer-right-first-last-input-non-last" type="text" placeholder="First Name"/>
                    <input class="footer-right-first-last-input-last" type="text" placeholder="Last Name"/>
                </div>
                <input class="footer-right-regular-input-item" type="text" placeholder="Email"/>
                <input class="footer-right-regular-input-item" type="text" placeholder="Phone Number"/>
                <textarea class="footer-right-textarea-input-item" placeholder="Let us know how we can help..."></textarea>
                <div class="footer-right-input-submit-button-container">
                    <button type="submit" class="footer-right-input-submit-button">Submit <fa-icon [icon]="faAngleRight"></fa-icon></button>
                </div>
                <p>he</p>
            </div>
        </div>
    </div>
</div>
